.wd-bg-color-black {
    background-color : black;
}

.wd-bg-color-dark-gray {
    background-color :#212327;
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-border-color-black {
    border-color: black;
}

.wd-width-line-400px {
    width: 80%;
}

.wd-font-size-15px {
    font-size: 15px;
}

.wd-font-size-13px {
    font-size: 13px;
}

.wd-font-size-20px {
    font-size: 20px;
}

.wd-font-size-40px {
    font-size: 40px;
}


.wd-text-color-white {
    color: white;
}

.wd-text-color-blue {
    color: #1DA1F2
}

.wd-text-color-gray {
    color: #5A5A5A
}

.wd-padding-16px {
    padding: 16px;
}

.wd-margin-left-10px {
    margin-left: 10px;
}

.wd-center {
    text-align: center;
}

.wd-no-underline {
    text-decoration:none
}

.wd-bold {
    font-weight: bold;
}

.wd-bolder {
    font-weight: bolder;

}

.wd-margin-bottom-15px {
    margin-bottom: 15px;
}

.wd-margin-top-15px {
    margin-top: 15px;
}

.wd-margin-right-10px {
    margin-right: 10px;
}

.wd-margin-right-16px {
    margin-right: 16px;
}

.wd-margin-right-12px {
    margin-right: 12px;
}

.wd-font-family-arial {
    font-family: Arial;
}

.wd-underline-blue-3px {
    border-bottom: 3px solid #1DA1F2;
}

.wd-rounded-smaller {
    border-radius:0px 0px 0px 0px
}
.wd-padding-bottom-5px {
    padding-bottom: 5px;
}

.wd-padding-bottom-15px {
    padding-bottom: 15px;
}

.wd-border-bottom-2px-gray{
    border-bottom: 2px solid #5A5A5A;
}

.wd-width_50_percent {
    width: 50%;
}

.wd-width_80_percent {
    width: 80%;
}

.wd-width_20_percent {
    width: 20%;
}

.wd-text_align_left {
    text-align: left;
}

.wd-border-around-1px-gray{
    border: 1px solid #5A5A5A;
}

.wd-margin-5px {
    margin: 5px;
}

.wd-border-bottom-1px-gray{
    border-bottom: 1px solid #5A5A5A;
}

.wd-margin-5px-bottom{
    margin-bottom: 5px;
}

.wd-margin-5px-left{
    margin-left: 5px;
}

.wd-display_inline {
    display: inline;
}

.wd-image_100_rounded {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.wd-image_12_square {
    width: 12px;
    height: 12px;
}


.wd-image_15_square {
    width: 15px;
    height: 15px;
}

.wd-image_35_square {
    width: 35px;
    height: 35px;
}

.wd-float_right {
    float: right;
}

.wd-float_left {
    float: left;
}

.wd-margin-right-40px {
    margin-right:80px;
}

.wd-overflow {
    overflow: auto;
}

.wd-vertical_align {
    vertical-align:middle;
}

.wd-padding_zero {
    padding: 0;

}

.wd-no_border {
    border: none;
}

.wd-no_background {
    background: none;
}

.wd-dot {
    height: 3px;
    width: 3px;
    background-color: #5A5A5A;
    border-radius: 50%;
    display: inline-block;
}

.wd-relative_position {
    position: relative;
}

.wd-absolute_position {
    position: absolute;
}

.wd-transform_px {
    translate: 60px;

}
.wd-input_text_padding {
    padding: 15px 60px;
}

