.wd-bg-color-black {
    background-color : black;
}

.wd-bg-color-dark-gray {
    background-color :#212327;
}

.wd-bg-color-gray {
    background-color :rgb(110, 118, 125);
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-border-color-black {
    border-color: black;
}



.wd-font-size-15px {
    font-size: 15px;
}

.wd-font-size-13px {
    font-size: 13px;
}

.wd-font-size-20px {
    font-size: 20px;
}

.wd-font-size-40px {
    font-size: 40px;
}


.wd-text-color-white {
    color: white;
}

.wd-text-color-blue {
    color: rgb(29,161,242)
}

.wd-text-color-gray {
    color: rgb(110, 118, 125)
}

.wd-padding-16px {
    padding: 16px;
}

.wd-padding-bottom-16px {
    padding-bottom: 16px;
}

.wd-padding-left-16px {
    padding-left: 16px;
}

.wd-padding-right-16px {
    padding-right: 16px;
}

.wd-padding-top-16px {
    padding-top: 16px;
}

.wd-margin-top-5px {
    margin-top: 5px
}

.wd-margin-left-10px {
    margin-left: 10px;
}

.wd-margin-left-16px {
    margin-left: 16px;
}

.wd-margin-top-12px {
    margin-top: 12px;

}
.wd-center {
    display: flex;
    justify-content: center
}




.wd-no-underline {
    text-decoration:none
}

.wd-underline-blue-3px {
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(29,161,242);
    text-underline-offset: 6px;
}

.wd-bold {
    font-weight: bold;
}

.wd-normal {
    font-weight: normal;
}

.wd-bolder {
    font-weight: bolder;

}

.wd-margin-bottom-15px {
    margin-bottom: 15px;
}

.wd-margin-bottom-20px {
    margin-bottom: 25px;
}

.wd-margin-top-15px {
    margin-top: 15px;
}

.wd-margin-top-16px {
    margin-top: 16px;
}

.wd-margin-bottom-16px {
    margin-bottom: 16px;
}


.wd-margin-right-10px {
    margin-right: 10px;
}

.wd-margin-right-16px {
    margin-right: 16px;
}

.wd-margin-right-12px {
    margin-right: 12px;
}

.wd-font-family-arial {
    font-family: Arial;
}

.wd-padding-bottom-5px {
    padding-bottom: 5px;
}

.wd-padding-bottom-15px {
    padding-bottom: 15px;
}

.wd-border-top-2px-gray{
    border-top: 2px solid rgb(110, 118, 125);
}

.wd-width_50_percent {
    width: 50%;
}

.wd-width_35_percent {
    width: 35%;
}

.wd-width_70_percent {
    width: 70%;
}

.wd-width_410px {
    width: 410px;
}

.wd-width_20_percent {
    width: 20%;
}

.wd-width-656px {
    min-width: 656px;
    width: 656px;
}

.wd-text_align_left {
    text-align: left;
}

.wd-border-around-1px-gray{
    border: 1px solid rgb(110, 118, 125);
}

.wd-margin-5px {
    margin: 5px;
}

.wd-border-bottom-1px-gray{
    border-bottom: 1px solid rgb(110, 118, 125);
}

.wd-margin-5px-bottom{
    margin-bottom: 5px;
}

.wd-margin-5px-left{
    margin-left: 5px;
}

.wd-display_inline {
    display: inline;
}
.wd-display_inline_block {
    display: inline-block;
}

.wd-image_100_rounded {
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.wd-image_12_square {
    width: 12px;
    height: 12px;
}


.wd-image_15_square {
    width: 15px;
    height: 15px;
}

.wd-image_35_square {
    width: 35px;
    height: 35px;
}

.wd-float_right {
    float: right;
}

.wd-float_left {
    float: left;
}

.wd-margin-right-40px {
    margin-right:80px;
}

.wd-overflow {
    overflow: auto;
}

.wd-vertical_align {
    vertical-align:middle;
}

.wd-padding_zero {
    padding: 0;

}

.wd-no_border {
    border: none;
}

.wd-no_background {
    background: none;
}

.wd-dot {
    height: 3px;
    width: 3px;
    background-color: rgb(110, 118, 125);
    border-radius: 50%;
    display: inline-block;
}

.wd-relative_position {
    position: relative;
}

.wd-absolute_position {
    position: absolute;
}

.wd-translate-left-35-top-24x {
    left: 35px;
    top: 20px;
}

.wd-input_text_padding {
    padding: 11px 60px;
}







