.wd-bg-color-black {
    background-color : black;
}

.wd-bg-color-dark-gray {
    background-color :#212327;
}

.wd-bg-color-gray {
    background-color: rgb(110, 118, 125)
}


.wd-bg-color-dark-blue {
    background-color : rgb(29,161,242);
}

.wd-border-color-black {
    border-color: black;
}

.wd-text-color-white {
    color: white;
}

.wd-text-color-blue {
    color: rgb(29,161,242)
}

.wd-text-color-gray {
    color: rgb(110, 118, 125)
}

.wd-text-color-like {
    color: #FA1A80;
}


.wd-text-color-re-tuit {
    color: #00BA7C;
}

.wd-color-fill-like {
    fill: #FA1A80;
}

.wd-color-fill-comment {
    fill: rgb(29,161,242);
}

.wd-color-fill-re-tuit{
    fill: #00BA7C
}

.wd-font-size-15px {
    font-size: 15px;
}

.wd-font-size-13px {
    font-size: 13px;
}

.wd-font-size-20px {
    font-size: 20px;
}

.wd-font-size-40px {
    font-size: 40px;
}


.wd-bold {
    font-weight: bold;
}

.wd-bolder {
    font-weight: bolder;

}

.wd-font-family-arial {
    font-family: arial;
}

.wd-bold {
    font-weight: bold;
}

.wd-bolder {
    font-weight: bolder;

}

.wd-text_align_left {
    text-align: left;
}

.wd-border-around-1px-gray{
    border: 1px solid rgb(110, 118, 125);
}

.wd-border-around-1px-gray-rounded{
    border: 1px solid rgb(110, 118, 125);
    border-radius: 15px;

}

.wd-border_right_1px_gray {
    border-right: 1px solid rgb(110, 118, 125);


}

.wd-border_left_1px_gray {
    border-left: 1px solid rgb(110, 118, 125);


}

.wd-border_bottom_1px_gray {
    border-bottom: 1px solid rgb(110, 118, 125);


}

.wd-border_top_1px_gray {
    border-top: 1px solid rgb(110, 118, 125);


}


.wd-dot {
    height: 3px;
    width: 3px;
    border-radius: 40%;

    display: inline-block;
}

.wd-margin-left-16px{
    margin-left: 16px;
}

.wd-margin-left-60px{
    margin-left: 60px;
}

.wd-margin-bottom-12px{
    margin-bottom: 12px;
}

.wd-margin-bottom-none{
    margin-bottom: 0;
}

.wd-margin-top-5px{
    margin-top: 5px;
}

.wd-margin-top-12px{
    margin-top: 12px;
}

.wd-margin-right-16px{
    margin-right: 16px;
}

.wd-margin-right-10px{
    margin-right: 10px;
}

.wd-margin-right-12px{
    margin-right: 12px;
}

.wd-margin-right-80px{
    margin-right: 80px;
}


.wd-margin-none{
    margin: 0;
}

.wd-padding-top-12px {
    padding-top: 12px;
}

.wd-padding-top-5px {
    padding-top: 5px;
}

.wd-padding-12px {
    padding: 12px;
}

.wd-padding-left-16px {
    padding-left: 16px;
}

.wd-float_right {
    float: right;
}

.wd-float_left {
    float: left;
}

.wd-no_border {
    border: none;
}

.wd-no_background {
    background: none;
}

.wd-padding_zero {
    padding: 0;

}

.wd-vertical_align {
    vertical-align:bottom;
}

.wd-image_round_48 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.wd-display_inline {
    display: inline;
}

.wd-width-max-506px {
    max-width: 506px;
}

.wd-width-656px {
    min-width: 656px;
}


.wd-position-relative {
    position:relative;
}

.wd-image_504px_x_264px_rounded {
    width: 504px;
    height: 264px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.wd-padding-bottom-1px {
    padding-bottom: 1px;
}

.wd-width-504 {
    max-width: 504px;
}


.wd-image_12_square {
    width: 12px;
    height: 12px;
}

.wd-image_13_square {
    width: 13px;
    height: 13px;
}


.svg-my-color-fill {
    fill: #5A5A5A;
}


.wd-no-underline {
    text-decoration:none
}

.wd-vertical_align {
    vertical-align:middle;
}


.wd-center {
    display: flex;
    justify-content: center
}
